<div class="wrapper" style="overflow-x:hidden">
  <div class="page-header clear-filter" id="header">
    <div style="height:96px;"></div>

    <div class="main">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">{{'calendar.title' | translate}}</h4>
          </div>
          <div class="card-body">
            <iframe style="width: 100%; height: 65vh;"
                    src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23eeeeee&amp;ctz=Europe%2FSofia&amp;src=dGVjaG5ldGljY29uc3VsdGluZ0B0ZWNobmV0aWNjb25zdWx0LmNvbQ&amp;src=ZW4uYnVsZ2FyaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043&amp;title=%D0%A6%D0%B0%D0%BB%D0%B5%D0%BD%D0%B4%D0%B0%D1%80&amp;showTitle=0&amp;showPrint=0&amp;showTz=0" class="calendar" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
